@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@357&display=swap');
:root {
    --blue-color: #2BAAEC;
    --green-color: #25E6C8;
    --title-color: #363636;
    --text-color: #626262;
    --placeholder-woman: #BFBFBF;
    --placeholder-man: #DEDEDE;
    --background-service: #F7F7F7;
    --outline-color: #D2D2D2;
    --footer-color: #F3FBFF;
    --white-color: #FFFFFF;
    --circle-border: #D4EEFB    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
}


/* ---TOP MENU START--- */

.container {
    width: 80%;
    height: 4rem;
    margin: auto;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_nav {
    border: solid var(--outline-color) 1.5px;
}
.social-ikon {
    justify-content: flex-end;  
}
li {
    list-style: none;
    display: inline-flex;
    padding: .5rem;
    color: var(--blue-color);
}
.social-ikon li:hover {
    color: var(--green-color)
}
.working-hours {
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding-left:.5rem;
}
.clock {
    padding-right: .5rem;
}
.text h1 {
    font-family: 'Roboto Slab', serif;
    color: var(--title-color);
    line-height: 4rem;
}
.text p {
    padding: 5px;
    color: var(--text-color);
    line-height: 1.5rem;
}
/* ---TOP MENU SLUT---*/


/* ---MAIN MENU START--- */

.container1 {
    width: 80%;
    height: 10rem;
    margin: 0 auto;
}
.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link a {
    color: var(--title-color);
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}
/* ---MAIN MENU END--- */


/* ---SHOWCASE START--- */

#showcase {
   background: var(--placeholder-man);
}
.container-showcase {
    width: 80%;
    padding-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.woman {
   padding-top: 1rem;
}
#showcase h1 {
    font-family: 'Roboto Slab', serif;
    color: var(--title-color);
    font-size: 50px;
    font-weight:600;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;  
}
#showcase p {
    color: var(--text-color);
    font-size: 16px;
    margin-bottom: 1.5rem;
}
.showcase-btn {
    text-align: center;
    width: 12rem;
    height: 3rem;
    border-radius: 7px;
    border: none;
    background: var(--green-color);
    color: var(--white-color);
    font-size: 13px;
    font-weight: 700;
}
.showcase-btn:hover {
    background: var(--blue-color);
}
/* ---SHOWCASE SLUT--- */


/* ---ABOUT US START--- */

.container-about {
    width: 80%;
    padding-left: 10%;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
.about-content h2 {
    font-family: 'Roboto Slab', serif;
    padding-top: 5rem;
    color: var(--title-color);
    font-size: 40px;
}
.about-content span {
    color: var(--blue-color);
}
.content-text {
    color: var(--text-color);
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    line-height: 1.7rem;
}
.about-number {
    display: flex;
    column-gap: 6rem;
}
.about-number h3 {
    padding-top: 1rem;
    color: var(--blue-color);
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
    font-weight:600;    
}
.number-text {
    color: var(--title-color);
    font-family: 'Roboto Slab', serif;
    justify-content: center;
    padding-top: .5rem;
    padding-bottom: 6rem;
}
.man {
    padding-top: 5rem;
    padding-left: 6rem;
    margin-bottom: -4px;
}
/* ---SHOWCASE END--- */


/* ---SERVICE START---  */

#service {
    padding: 5rem;
    background: var(--background-service);
}
.container-service {
    width: 80%;
    margin: 0 auto 0;
    padding-bottom: 2rem;
}
.title-service {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    padding: 3rem;
    text-align: center;
}
.line2 {
    text-align: center;
    padding-bottom: 0.5rem;
}
.row {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 400px);
    gap: 2rem;
}
.card {
    background-color: var(--white-color);
    border-radius: 8px;
    width: 400px;
    height: 400px;
}
.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
}
.logo {
    width: 120px;
    height: 120px;
    background-color: var(--green-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body h3{
    text-align: center;
    color: var(--title-color);
    font-family: 'Roboto Slab', serif;
}
.card-body p{
    padding: 1rem;
    text-align: center;
    line-height: 1.8rem;
     color: var(--text-color);
}
.card:hover {
    box-shadow: 0px 10px 30px #0000001f;
    transition-delay: .3s;
}
.card:hover .logo {
    background-color: var(--blue-color);
    transition-property: box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    box-shadow: 0 0 0 10px var(--circle-border);
}
/* ---SERVICE SLUT--- */


/* ---APPOINTMENT START--- */

#appointment {
    height: 165px;
    background-color: #4EB4E8;
  }
  .appointment-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 165px;
  }
  .appointment-text  {
    color: var(--white-color);
    padding-left: 17%;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
  }
  .appointment-button {
      padding-right: 17%;
      border: none;
  }
  .appointment-btn {
      text-align: center;
      border: none;
      width: 13rem;
      height: 2.9rem;
      border-radius: 7px;
      font-size: 13px;
      font-weight: 700;
      background-color: var(--white-color);
      color: #2ba8ecd3;
  }
  .appointment-btn:hover {
      background-color: #4EB4E8;
      color: var(--white-color);
      border: solid 2px var(--white-color);
  }
/* ---APPOINTMENT SLUT--- */


/* ---FOOTER--- */

.footer-container {
    background-color: var(--blue-color) ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--footer-color);
}
.footer-container p {
    opacity: 60%;
}
/* ---FOOTER END--- */