/* li {
    display: inline-flex;
    padding: .5rem;
    color:#2BAAEC;
    list-style: none;
}

header {
    font-family: Roboto;
    display: flex;
    align-items: center;
    margin-top: .5rem;
}

p {
    margin-right: auto;
    color: #626262;
} */


























/* .main-menu {
    padding-top: 2rem;
}
.navbar {
    font-size: 16rem;
    font-family: Roboto slab;
    color: #626262;
}

.container-2 {
    border: solid #801515;
} */
